        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Montserrat';
        }

        html {
            scroll-behavior: smooth;
        }


        /* ****************************************************STAR WARS******************************************************* */



        .star-wars-intro {
            background: url("img/stars-bg.jpg") center center;
            width: 100%;
            height: 100%;
            font-family: "Droid Sans", arial, verdana, sans-serif;
            font-weight: 700;
            color: #EBD71C;
            background-color: #000;
            overflow: hidden;
            position: relative;
        }

        .star-wars-intro p.intro-text {
            position: relative;
            max-width: 16em;
            font-size: 200%;
            font-weight: 400;
            margin: 20% auto;
            color: #4ee;
            opacity: 0;
            z-index: 1;
            text-align: center;
            -webkit-animation: intro 2s ease-out;
            -moz-animation: intro 2s ease-out;
            -ms-animation: intro 2s ease-out;
            -o-animation: intro 2s ease-out;
            animation: intro 2s ease-out;
        }

        .star-wars-intro .main-content {
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            z-index: 3;
            width: 98%;
            height: 50em;
            bottom: 0;
            font-size: 80px;
            font-weight: bold;
            text-align: justify;
            overflow: hidden;
            transform-origin: 50% 100%;
            transform: perspective(300px) rotateX(25deg);
        }

        .star-wars-intro .main-content:after {
            position: absolute;
            content: ' ';
            top: 0;
            bottom: 60%;
            background-image: linear-gradient(top, rgba(0, 0, 0, 1) 0%, transparent 100%);
            pointer-events: none;
        }

        .star-wars-intro .space-button {
            color: #EBD71C;
            border: 12px solid #EBD71C;
            padding: 20px;
            background: transparent;
            text-decoration: none;
            margin: 0 auto;
            display: block;
            text-align: center;
        }

        .star-wars-intro .space-button:hover {
            background-color: #D2BE03;
            border-color: #D2BE03;
            color: black;
        }

        .star-wars-intro .space-button:active,
        .star-wars-intro .space-button:focus {
            background-color: #B8A40A;
            border-color: #B8A40A;
            color: black;
        }

        .star-wars-intro .title-content {
            position: absolute;
            top: 100%;
            animation: scroll 120s linear 4s forwards;
        }

        .star-wars-intro .title-content>.content-header {
            text-align: center;
        }

        /* Main Image Styles */

        .star-wars-intro .main-logo {
            position: absolute;
            width: 2.6em;
            left: 50%;
            top: 20vh;
            font-size: 10em;
            text-align: center;
            margin-left: -1.3em;
            line-height: 0.8em;
            letter-spacing: -0.05em;
            color: #000;
            text-shadow: -2px -2px 0 #EBD71C, 2px -2px 0 #EBD71C, -2px 2px 0 #EBD71C, 2px 2px 0 #EBD71C;
            opacity: 0;
            z-index: 1;
            -webkit-animation: logo 5s ease-out 2.5s;
            -moz-animation: logo 5s ease-out 2.5s;
            -ms-animation: logo 5s ease-out 2.5s;
            -o-animation: logo 5s ease-out 2.5s;
            animation: logo 5s ease-out 2.5s;
        }

        .star-wars-intro .main-logo>img {
            max-width: 100%;
        }

        @-webkit-keyframes intro {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-moz-keyframes intro {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-ms-keyframes intro {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @-o-keyframes intro {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes intro {
            0% {
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }


        @-webkit-keyframes logo {
            0% {
                -webkit-transform: scale(1);
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                -webkit-transform: scale(0.1);
                opacity: 0;
            }
        }

        @-moz-keyframes logo {
            0% {
                -moz-transform: scale(1);
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                -moz-transform: scale(0.1);
                opacity: 0;
            }
        }

        @-ms-keyframes logo {
            0% {
                -ms-transform: scale(1);
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                -ms-transform: scale(0.1);
                opacity: 0;
            }
        }

        @-o-keyframes logo {
            0% {
                -o-transform: scale(1);
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                -o-transform: scale(0.1);
                opacity: 0;
            }
        }

        @keyframes logo {
            0% {
                transform: scale(1);
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: scale(0.1);
                opacity: 0;
            }
        }

        @keyframes scroll {
            0% {
                top: 100%;
            }

            100% {
                top: -170%;
            }
        }

        @media screen and (max-width: 720px) {
            .star-wars-intro .main-content {
                font-size: 35px;
            }

            .star-wars-intro .title-content {
                position: absolute;
                top: 100%;
                animation: scroll 100s linear 4s forwards;
            }
        }


              /* ****************************************************INICIO********************************************************/

        #inicio {
            background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
            background-size: cover;
            background-position: center center;
        }

        #inicio .contenido header .contenido-header img {
            height: 50px;
            width: auto;
            margin-right: 10px;
        }

        #inicio .contenido header {
            background-color:black;
            position: fixed;
            width: 100%;
            z-index: 100;
            top: 0;
        }

        #inicio .contenido header .contenido-header {
            max-width: 1100px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        #inicio .contenido header .contenido-header h1 {
            text-align: center;
            color: #bbe60f;
        }

        #inicio .contenido header .contenido-header nav ul {
            list-style: none;
            display: flex;
            align-items: center;
        }

        #inicio .contenido header .contenido-header nav ul li a {
            text-decoration: none;
            color: #fff;
            margin: 0 12px;
            font-weight: 400;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header nav ul li a:hover {
            color: #bbe60f;
        }

        #inicio .contenido header .contenido-header .redes a {
            text-decoration: none;
            color: #bbe60f;
            display: inline-block;
            margin-left: 10px;
            transition: .5s;
        }

        #inicio .contenido header .contenido-header .redes a:hover {
            color: #bbe60f;
        }

        #inicio .contenido header .contenido-header .seleccionado {
            color: #bbe60f;
        }

        #icono-nav {
            color: #fff;
            display: none;
        }

        
        /* *********************************seccion Programas***************************************/
       

        #programas {
            padding: 100px 15px;
            text-align: center;
            background-color:#32332d 
        }
        
        #programas .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #bbe60f ;
        }
        
        #programas .fila {
            display: flex;
            justify-content: space-between;
            max-width: 1150px;
            margin: 30px auto;
        }
        
        #programas .lenguaje {
            max-width: 350px;
            background-color: #fff;
            padding: 30px;
            margin: 0 5px;
            border-radius: 5px;
            transition: .5s;
        }
        
        #programas .lenguaje .icono {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #d3d3d3;
            padding: 20px;
            margin-bottom: 25px;
        }
        
        #programas .lenguaje h4 {
            font-size: 22px;
            margin-bottom: 25px;
        }
        
        #programas .lenguaje hr {
            width: 30%;
            margin: auto;
            color: #000;
            margin-bottom: 25px;
        }
        
        #programas .lenguaje ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        
        #programas .lenguaje p {
            font-size: 14px;
            line-height: 22px;
        }
        
              /* *********************************seccion Skills***************************************/


        .contenedor-skills {
            background: linear-gradient(#242b09cc, rgba(11, 3, 3, 0.8)), url("img/MiLogo.png");
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
            color: #bbe60f ;
            background-position: center center;
            padding: 100px 0;
            text-align: center;
        }

        .contenedor-skills .skill {
            max-width: 600px;
            margin: 30px auto;
        }

        .contenedor-skills .skill .info {
            display: flex;
            justify-content: space-between;
        }

        .contenedor-skills .skill .lista {
            display: inline-block;
            margin-right: 20px;
            height: 10px;
            width: 10px;
            background-color: #fff;
        }

        .contenedor-skills .skill .barra {
            background-color: #000000;
            width: 100%;
            height: 6px;
            margin: 10px 0px;
        }

        .contenedor-skills .skill .barra .barra-progreso1 {
            background-color: #bbe60f;
            width: 95%;
            height: 6px;
            animation: progreso1 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso2 {
            background-color: #bbe60f;
            width: 90%;
            height: 6px;
            animation: progreso2 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso3 {
            background-color: #bbe60f;
            width: 90%;
            height: 6px;
            animation: progreso3 2s forwards;
        }

        .contenedor-skills .skill .barra .barra-progreso4 {
            background-color: #bbe60f;
            width: 85%;
            height: 6px;
            animation: progreso4 2s forwards;
        }

        @keyframes progreso1 {
            0% {
                width: 0;
            }

            100% {
                width: 95%;
            }
        }

        @keyframes progreso2 {
            0% {
                width: 0;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes progreso3 {
            0% {
                width: 0;
            }

            100% {
                width: 90%;
            }
        }

        @keyframes progreso4 {
            0% {
                width: 0;
            }

            100% {
                width: 85%;
            }
        }

                /* *********************************seccion Porfolio***************************************/

        #portfolio {
            max-width: 3100px;
            padding: 100px 0;
            margin: auto;
            background-color: #040404;
            
        }

        #portfolio .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #bee520;
           
        }

        #portfolio .fila {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            padding: 3%;
        }

        #portfolio .fila .proyecto {
            max-width: 450px;
            border: 1px solid #000;
            margin: 0 10px;
            position: relative;
            overflow: hidden;
        }

        #portfolio .fila .proyecto img {
            width: 100%;
            height: 100%;
            ;
            filter: grayscale(1);
            object-fit: cover;
            transition: .5s;
        }

        #portfolio .fila .proyecto:hover img {
            filter: grayscale(0);
        }

        #portfolio .fila .proyecto .info {
            position: absolute;
            left: 0px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #bee520;
            width: 100%;
            padding: 10px;
            opacity: 0;
            bottom: -40px;
            transition: .5s;
        }

        #portfolio .fila .proyecto:hover .info {
            opacity: 1;
            bottom: 0;
        }

          /* *********************************seccion Contacto***************************************/

        #contacto {
            padding: 100px 15px;
            background-color: #2a2a2a;
        }

        #contacto .titulo-seccion {
            margin-bottom: 20px;
            
        }

        #contacto .contenedor-form {
            max-width: 1100px;
            margin: auto;
        }

        #contacto .contenedor-form .fila {
            margin-bottom: 15px;
        }

        #contacto .contenedor-form .mitad {
            display: flex;
            justify-content: space-between;
        }

        #contacto .contenedor-form input,
        #contacto .contenedor-form textarea {
            padding: 20px;
            border-radius: 20px;
            border: none;
            border: 1px solid #919191;
        }

        #contacto .contenedor-form .mitad input {
            width: 48%;
        }

        #contacto .contenedor-form .input-full {
            width: 100%;
        }

        #contacto .titulo-seccion {
            text-align: center;
            font-size: 22px;
            text-transform: uppercase;
            color: #bbe60f;
        }

        #contacto .btn-enviar {
            display: block;
            margin: auto;
            cursor: pointer;
            transition: .5s;
            padding: 10px 15px !important;
        }

        #contacto .btn-enviar:hover {
            background-color: #d1fd0d;
            color: #050505;
        }

             /* *********************************seccion Footer***************************************/


        footer {
            background-color: #000;
            color: #fff;
            text-align: center;
            padding: 30px 0;
        }

        footer a {
            text-decoration: none;
            color: #fff;
            display: inline-block;
            margin: 5px;
            font-size: 26px;
        }

               /* *********************************seccion Responsive***************************************/


        @media screen and (max-width: 800px) {
            .redes {
                display: none;
            }

            nav {
                display: none;
            }

            nav.responsive {
                display: block;
                background-color: rgba(0, 0, 0, .8);
                width: 100%;
                position: absolute;
                top: 48px;
                left: 0;
                padding: 10px 0;
            }

            nav.responsive ul {
                display: block !important;
                text-align: center;
            }

            nav.responsive ul li {
                margin: 5px 0;
            }

            #icono-nav {
                display: block;
            }

            #inicio .contenido .presentacion h2 {
                font-size: 40px;
            }

           

            #programas {
                padding: 50px 15px;
            }

            #programas .fila {
                display: block;
            }

            #programas .fila .lenguaje {
                margin: 10px auto;
            }

            .contenedor-skills {
                padding: 50px 20px;
            }

            #portfolio {
                padding: 50px 0;
            }

            #portfolio .fila {
                display: block;
            }

            #portfolio .fila .proyecto {
                margin: 10px auto;
            }

            #contacto {
                padding: 50px 15px;
            }

            #contacto .contenedor-form .mitad {
                margin-bottom: 15px;
                display: block;
            }

            #contacto .contenedor-form .mitad input {
                width: 100%;
                margin-bottom: 15px;
            }
        }
        .redesdos a i.fa-github {
            color: #bbe60f; 
        }
        
        .redesdos a i.fa-linkedin {
            color: #bbe60f; }